# mkpkg is a regular makefile
mkpm_pkg_name=mkpm-<package-name>
mkpm_pkg_version=<version:-latest>
mkpm_pkg_main=<main file:-Makefile>
mkpm_pkg_dependencies=file://<absolute-path> <remote-package>@<version>